# AMBF Registration configuration file template 
# Author: Hisashi Ishida
# Date: 01.10.2024

## Hand-Eye Regisration
hand eye:
  # Both the robot and the marker status should be published using CRTK
  robot namespace: /REMS/Research/ # namespace for the robot 
  marker namespace: /atracsys/Anspoch_drill # namespace for the marker
  referece namespace: /atracsys/Anatomy # [Optional] namespace for the reference
  EE name: dovetail_male
  marker name: marker_body # [Optional] Name of the rigid body for the marker body
  optical tracker name: Tracker # [Optional] Name of the rigid body for the tracker
  resolution: 0.001
  number of points: 1500
  registered HE result: # <- uncomment the following part if you finished Hand-Eye calibration
    q_rot: {x: -0.21229946, y: 0.8618833, z: 0.41732556, w: 0.19474468}
    q_dual: {x: -0.03906011, y: -0.02503096, z: 0.0335063, w: -0.00360324}

## Pivot calibration
pivot:
  marker namespace: /atracsys/Anspoch_drill # namespace for the marker
  referece namespace: /atracsys/Anatomy # [Optional] namespace for the reference
  marker name: marker_body # [Optional] Name of the rigid body in AMBF
  type: AUTO # AUTO: Reads the value all the time, MANUAL: Sample points
  resolution: 0.01
  number of points: 150
  registered pivot result: # <- uncomment the following part if you finished pivot calibration
    t_tip: {x: -0.077053, y: 0.150933, z: 0.043711}

## Pointer based registration
pointer:
  tooltip name: drill_tip # Rigid body that is attached to the tip of the tool
  name of points:
    - F1
    - F2
    - F3
    - F4
    - F5

  object name: TB04_anatomical_origin